@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    text-align: center;
    color: #16434f;
    /* background-color: #FEE3D3; */
}

